/* colors */
:root {
    --primary: hsl(172, 30%, 39%);
    --secondary: hsl(172, 30%, 24%);
    --lightgreen: hsl(172, 30%, 60%);
    --lightgrey: hsl(172, 0%, 95%);
    --tertiary: hsl(343, 11%, 49%);
    --tertiarylight: hsl(343, 11%, 60%);
    --black: hsl(172, 30%, 0%);
    }

/* general */
main {
    padding-top: 85.59px;
  }

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    font-size: 1.6rem;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    color: var(--black);
    line-height: 1.6;
}

img {
    width: 100%;
}

a {
    color: var(--primary);
    transition: 0.8s color, 1s text-decoration;   
}

a:visited {
    color: var(--primary); 
}

a:hover {
    color: var(--secondary);
    text-decoration: none;
}

a:focus {
    outline: 2px solid var(--primary);
    outline-offset: 2px;
    border-radius: 2px;
}

a:active {
    color: var(--secondary);    
}

.button {
    font-size: 1.6rem;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    transition: 0.8s background-color;
}

.button:hover {
    text-decoration: none;
}

.button.primary {
    background-color: var(--primary);
    color: white;
}

.button.primary:visited {
    color: white;   
}

.button.primary:hover {
    background-color: var(--secondary);
    color: white;
}

.button.primary:active {
    background-color: var(--secondary);
    color: white;
}

.button.secondary {
    background-color: white;
    color: var(--primary);
    border-color: var(--primary);
    border-width: 2px;
    border-style: solid;
}

.button.secondary:visited {
    color: var(--primary);
}

.button.secondary:hover {
    color: var(--secondary);
    border-color: var(--secondary);
}

.button.secondary:active {
    color: var(--secondary);
    border-color: var(--secondary);
}

.container {
    padding-inline: 1.5rem;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
}

.container:not(header .container) {
    gap: 2em;
    max-width: 1200px;
    align-items: center;
}

section {
    padding-block: 2.5em;
}

/* typography */

h1, h2, h3, h4 {
    line-height: 1.1;
    margin-block: 0;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--primary);
}

h2 {
    font-size: 3.2rem;
    font-weight: 700;
}
  
h3 {
    font-size: 2.4rem;
    font-weight: 600;
}

h4 {
    font-size: 1.8rem;
    font-weight: 400;
}

.placeholder {
    font-style: italic;
    color: var(--secondary);
}

/* header */
header {
    background-color: var(--lightgreen);
    padding-block: 1em;
    position: fixed;
    width: 100%;
    box-shadow: 0 -6px 8px 5px var(--black);
}
    
header .container {
    align-items: center;
    gap: 0.5em;
}

header a:has(.logo) {
    line-height: 0;
}

.logo {
    height: clamp(2rem, 1.6rem + 1.111vw, 3.2rem);
    width: auto;
}

nav a {
    text-decoration: none;
    font-weight: 700;
    color: var(--black);
}

nav a:visited {
    color: var(--black);
}

nav a:hover {
    color: var(--secondary);
}

nav a:focus {
    color: var(--secondary);
}

nav a:active {
    color: var(--secondary);
}

nav ul {
    display: flex;
    list-style: none;
    padding-inline-start: 0;
    gap: 2em;
    margin: 0;
}

/* footer */
footer {
    background-color: var(--lightgrey);
    padding-block: 5em 1em;
}

footer .container .social-media {
    align-items: center;
    gap: 0.5em;
}

footer .container {
    align-items: center;
    gap: 0.5em;
}

.social-media {
    color: var(--primary);
}

.social-media ul {
    display: flex;
    list-style: none;
    padding-inline-start: 0;
    gap: 1.5em;
}

.list__social-media {
    width: 3.2rem;
    line-height: 0;
    display: grid;
}

/* Home template */
.textblock {
    max-width: 750px;
    margin-inline: auto;
}

span {
    display: block;
    font-style: italic;
    font-weight: 400;
    margin-block-start: 0.5em;
}

/* About */

.about{
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

/* project sites */

.project-site__media-hero img {
    max-width: 400px;
}

.project-site__media-wrapper picture {
    display: flex;
    justify-content: center;
}

.project-site__description  {
    max-width: 750px;
    margin-inline: auto;
}

.li .timeline-list {
    max-width: 750px;
}

.project-site__timeline {
    justify-content: center;
}


/* animation bulb */
@keyframes color-change {
    0% {fill: #FDD305;}
    50% {fill: #fcffad;}
    100% {fill: #f76414;}
    0% {stroke: #FDD305;}
    50% {stroke: #fcffad;}
    100% {stroke: #f76414;}
}


.bulb {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

/* rotation wheel */

@keyframes rotate-clockwise {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg)}
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg)}
}

.wheel-big {
    animation-duration: 10s;
    animation-name: rotate-clockwise;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.wheel-small {
    animation-duration: 10s;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

/* tablet & desktop template */

@media (min-width: 768px) {
    h1 {
        font-size: 4.4rem;
    }
    
    h2 {
        font-size: 3.6rem;
    }
      
    h3 {
        font-size: 2.8rem;    }
    
    h4 {
        font-size: 2.1rem;
    }

    header .container {
        flex-direction: row;
        justify-content: space-between;
    }

    .project-card {
        display: grid;
        grid-template-columns: 2fr 3fr;
        gap: 2.6rem;
        padding-block: 1.6rem;
    }
   
    .project-card__media-wrapper {
        display: flex;
        align-items: center;
    }

    .hero {
        text-align: center;
    }

    .button {
        display: inline-block;
    }

    .about-inner {
    padding-bottom: 2rem;
    }

    .skills-tools {
        display: block;    
    }

    .skills-tools__inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8rem;
    }
   
    .skills-tools__list-wrapper {
        display: block;
        gap: 2rem; 
    }


}

/* Laptops and bigger Screen */

@media (min-width: 1024px) {
    header .container .project {
        flex-direction: row;
        justify-content: space-between;
    }

    body {
        font-size: 1.8rem;
    }

    .button {
        font-size: 1.8rem;
    }

    .project-card {
        display: grid;
        grid-template-columns: 3fr 2fr;
        align-items: center;
        padding-block: 2.4rem;
    }

    .about {
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 8rem;
    }

    .skills-tools__inner {
        display: block;
    }

    .skills-tools__list-wrapper {
        padding-block: 1.8rem;
    }

    .picture-of-me {
        aspect-ratio: 1;
        border-radius: 100vw;
        object-fit: cover;
        max-width: 300px;
       /* object-position: 0 30%; */

    }

}
