/* colors */
:root {
    --primary: hsl(172, 30%, 39%);
    --secondary: hsl(172, 30%, 24%);
    --lightgreen: hsl(172, 30%, 60%);
    --lightgrey: hsl(172, 0%, 95%);
    --tertiary: hsl(343, 11%, 49%);
    --tertiarylight: hsl(343, 11%, 60%);
    --black: hsl(172, 30%, 0%);
    }

/* general */
main {
    padding-top: 4em;
  }

html {
    font-size: 62.5%;
}

body {
    background-color: #ffffff;
    font-size: 1.6rem;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    color: var(--black);
    line-height: 1.6;
}

img {
    width: 100%;
}

a {
    color: var(--primary);
}

a:visited {
    color: var(--primary);    
}

a:hover {
    color: var(--secondary);
    text-decoration: none;
}

a:focus {
    outline: 2px solid var(--primary);
    outline-offset: 2px;
    border-radius: 2px;
}

a:active {
    color: var(--secondary);    
}

.button {
    font-size: 1.6rem;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    display: flex;
}

.button:hover {
    text-decoration: none;
}

.button.primary {
    background-color: var(--primary);
    color: white;
}

.button.primary:visited {
    color: white;   
}

.button.primary:hover {
    background-color: var(--secondary);
    color: white;
}

.button.primary:active {
    background-color: var(--secondary);
    color: white;
}

.button.secondary {
    background-color: white;
    color: var(--primary);
    border-color: var(--primary);
    border-width: 2px;
    border-style: solid;
}

.button.secondary:visited {
    color: var(--primary);
}

.button.secondary:hover {
    color: var(--secondary);
    border-color: var(--secondary);
}

.button.secondary:active {
    color: var(--secondary);
    border-color: var(--secondary);
}

.container {
    padding-inline: 1.5rem;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
}

.container:not(header .container) .about {
    gap: 2em;
}

section {
    padding-block: 2.5em;
}

/* typography */

h1, h2, h3, h4 {
    line-height: 1.4;
    margin-block: 0;
}

h1 {
    font-size: 4.4rem;
    font-weight: 700;
    color: var(--primary);
}

h2 {
    font-size: 3.6rem;
    font-weight: 700;
}
  
h3 {
    font-size: 2.8rem;
    font-weight: 600;
}

h4 {
    font-size: 2.1rem;
    font-weight: 400;
}

/* header */
header {
    background-color: var(--lightgreen);
    padding-block: 1em;
    position: fixed;
    width: 100%;
}
    
header .container {
    align-items: center;
    gap: 0.5em;
}

header a:has(.logo) {
    line-height: 0;
}

.logo {
    height: clamp(2rem, 1.6rem + 1.111vw, 3.2rem);
    width: auto;
}

nav a {
    text-decoration: none;
    font-weight: 700;
    color: var(--black);
}

nav a:visited {
    color: var(--black);
}

nav a:hover {
    color: var(--secondary);
}

nav a:focus {
    color: var(--secondary);
}

nav a:active {
    color: var(--secondary);
}

nav ul {
    display: flex;
    list-style: none;
    padding-inline-start: 0;
    gap: 2em;
    margin: 0;
}

/* footer */
footer {
    background-color: var(--lightgrey);
    padding-block: 1em;
}

footer .container .social-media {
    align-items: center;
    gap: 0.5em;
}

footer .container {
    align-items: center;
    gap: 0.5em;
}

.social-media {
    color: var(--primary);
}

.social-media ul {
    display: flex;
    list-style: none;
    padding-inline-start: 0;
    gap: 1.5em;
}

.list__social-media {
    width: 3.2rem;
    font-size: 0.5rem;
    line-height: 0;
    display: inline-block;
}

/* Home template */

/* About */

.about-inner {
    padding-block: 2em;
}


/* tablet & desktop template */

@media (min-width: 768px) {
    header .container {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .project-card {
        display: grid;
        grid-template-columns: 2fr 3fr;
        gap: 2em;
    }

    .project-card__media-wrapper {
        display: flex;
        align-items: center;
    }

    .hero {
        text-align: center;
    }

    .button {
        display: inline-block;
    }

}