/* general */
body {
    line-height: 1em;
    background-color: #ffffff;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1rem;
}

/* typography */

h1, h2, h3, h4 {
    line-height: 1.4;
}

h1 {
    font-size: 2.75em;
    font-weight: 700;
    color: var(--primary);
}

h2 {
    font-size: 2.25em;
    font-weight: 700;
}
  
h3 {
    font-size: 1.75em;
    font-weight: 600;
}

h4 {
    font-size: 1.35em;
    font-weight: 400;
}

p {
    font-family: 'Karla';
    font-weight: 400;
    line-height: 1.2;
}

/* header */
header {
    background-color: var(--lightgreen);
    padding: 1em;
}

.nav {
    display: inline;
    color: var(--secondary);
    border-color: var(--secondary);
}

.nav:hover {
    text-decoration: underline;
} 

.nav {
    display: inline;
    color: var(--secondary);
}

/* footer */
footer {
    background-color: var(--lightgrey);
}

.social-media {
    content: "";
    display: table;
    clear: both;
    padding: 24px;
    color: var(--primary);
}
.list__social-media {
    float: left;
    width: 32px;
    display: inline;
    margin: 0,5em;
}

/* colors */
:root {
--primary: hsl(172, 30%, 39%);
--secondary: hsl(172, 30%, 24%);
--lightgreen: hsl(172, 30%, 60%);
--lightgrey: hsl(172, 0%, 95%);
--tertiary: hsl(343, 11%, 49%);
--tertiarylight: hsl(343, 11%, 60%);
}

/* general */
.logo {
    height: 2em;
    width: auto;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: var(--primary);
}

a:hover {
    color: var(--secondary);
    text-decoration: underline;
}

a:focus {
    outline: 2px solid var(--primary);
    outline-offset: 2px;
    border-radius: 2px;
}

.button {
    height: 40px;
    font-size: 1em;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    text-decoration: none;
}

.button:hover {
    text-decoration: none;
}

.button.primary {
    background-color: var(--primary);
    color: white;
}

.button.primary:hover {
    background-color: var(--secondary);
}

.button.secondary {
    background-color: white;
    color: var(--primary);
    border-color: var(--primary);
    border-width: 2px;
    border-style: solid;
}

.button.secondary:hover {
    color: var(--secondary);
    border-color: var(--secondary);
}

/* Page template general */
p {
    font-size: 1em;
    line-height: 1.6;
    margin-top: 8px;
    margin-bottom: 20px;
} 

/* Home template */
.project-card {
    content: "";
    display: table;
    clear: both;
    padding: 24px;
}

.project-card__media-wrapper {
    float: left;
    width: 50%;
}

